body {
    margin-top: 2%;

}

H1{
    color: #05DBF2;
    font-size: 270%;
  
}

.tir{
  
    padding: 10%;
          color: #02d0e7;
        font-size: 270%;
      
    
}
.botonesop{
    
    position: relative;
    text-align:center;
}
.button {


    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  footer {
    padding: 10px;
    text-align: center;
  }

.button2{
   
    background-color: #02d0e7;
    
}

.resultado{
border: 2px solid #02d0e7;
}


.prductos_sleccionados{
height: 100px;


}
.linea{
  margin-top: 2%;
  height: 5px;
  background-color: #02d0e7;
}
.container{

  width: 100%;
  height: 300px;
}


.totalest{
   
  background-color: #02d0e7;
  
}