
.btn {

    cursor: pointer;
  }
  .botones15 {
    transform: translate(35%, 55%);
  width: 30%;

  }

  /* Green */
  .b1:hover {
    border-radius: 100%;
    background-color: rgb(0, 255, 0);  
  }
  
  /* Blue */
  .b2 {
    border-radius: 100%;
    border-color: #73cc36;

  }
  
  .b2:hover {
    background: #73cc36;
    
  }
  
  /* Orange */
  .b3 {
    border-radius: 100%;
    border-color: rgb(255, 255, 0);
    color: rgb(255, 255, 0);
  }
  
  .b3:hover {
    background: rgb(255, 255, 0);
   
  }
  
  /* Red */
  .b4 {
    border-radius: 100%;
    border-color: #f0bd2d;
    color: #f0bd2d;
  }
  
  .b4:hover {
    background: #f0bd2d;
   
  }

    /* Orange */
    .b5 {
      border-radius: 100%;
      border-color: rgb(255, 136, 0);
      color: rgb(255, 136, 0);
    }
    
    .b5:hover {
      background: rgb(255, 136, 0);
     
    }

      /* Orange */
  .b6 {
    border-radius: 100%;
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }
  
  .b6:hover {
    background: rgb(255, 0, 0);
   
  }



  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(18, 255, 18, 0.010);
  }
  
  .hero-image {
   /*  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url("photographer.jpg"); */

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #18af18;
    font-size: 80px;
    width: 100%;
  }
  



  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 35px;
  }



  @media only screen and (max-width:1000px) {
    .titulo {
      text-align: center;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ff1212;
      font-size: 80px;
      width: 100%;
    }
    .botones {
      transform: translate(35%, 55%);
    width: 60%;

    }
  }


  .overlay {
    position: absolute;
    bottom: 0;


    overflow: hidden;
    width: 25%;
    height: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  
  }
  
  
  .botones15:hover .overlay {
    width: 25%;
    height: 50%;
    -webkit-transform: scale(1);
    background: rgb(255, 0, 0);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  